# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
local
workspace/*
*.kdev4
doc/html

# VSCode
c_cpp_properties.json
settings.json
doc/manifest.yaml
doc/Web_Map_Tile_Service_Standard.pdf
