<library path="lib/librqt_helm_manager">
    <class name="camp/HelmManagerPlugin" type="camp::HelmManagerPlugin" base_class_type="rqt_gui_cpp::Plugin">
        <description>
            Display Project11 helm_manager status.
        </description>
        <qtgui>
            <label>Helm Manager Plugin</label>
            <icon type="theme">system-help</icon>
            <statustip>Show Project11 helm status</statustip>
        </qtgui>
    </class>   
</library>
